<h1>Form Submission Received</h1>

<h2>Requestor</h2>
<div>
  Full Name: {{user.fullName}}
</div>
<div>
  Email: {{user.email}}
</div>
<div>
  Username: {{user.username}}
</div>

<h2>{{formName}}</h2>
<div>
  <strong>Entity</strong>: {{entity}}
</div>
{{#each fields as | field |}}
  <div>
    <strong>{{field.label}}</strong>: {{field.value}}
  </div>
{{/each}}

<h2>Integrations</h2>
At the time the request was submitted, {{user.fullName}} had search results from the following integrations:
<ul>
  {{#each integrationData as | integration |}}
    <li>
      <div>
        {{integration.integrationName}}
      </div>
      <ul>
        {{#each integration.summary as | tag |}}
          <li>{{tag}}</li>
        {{/each}}
      </ul>
    </li>
  {{/each}}
</ul>